<p>Sehr geehrte Damen und Herren,</p>
<p>
  anbei erhalten Sie Ihre Rechnung ${variables.invoice.lexNo} von ${moment(variables.invoice.date).format('DD.MM.YYYY')} im PDF-Format.
  <br />
  Bei Fragen stehen wir Ihnen gerne zur Verfügung.
</p>
<p>
  Mit freundlichen Grüßen
  <br />
  Ihr Rheinkultur Team
</p>
<br />
<p>
  Rheinkultur Medien und Verlags GmbH
  <br />
  Bahnhofstraße 25
  <br />
  42651 Solingen
</p>
<p>
  Tel.: 0212 - 260 120 0
  <br />
  Fax:  0212 - 260 120 69
  <br />
  E-Mail: rechnung@rheinkultur-medien.de
  <br />
  <a href="https://www.rheinkultur-medien.de" target="_blank">
    www.rheinkultur-medien.de
  </a>
</p>
<p>
  Amtsgericht Wuppertal HRB 28282
  <br />
  UsT-ID: DE265842356
  <br />
  Geschäftsführer: Klaus Peter Weber
</p>
<br />
<p style="font-size: 0.9em; opacity: 0.9;">
  Diese E-Mail enthält vertrauliche und/oder rechtlich geschützte Informationen. Wenn Sie nicht der richtige Adressat sind oder diese E-Mail irrtümlich erhalten haben, informieren Sie bitte sofort den Absender und vernichten Sie diese Mail. Das unerlaubte Kopieren sowie die unbefugte Weitergabe dieser Mail ist nicht gestattet. Unsere Datenschutzerklärung finden Sie unter: <a href="www.rheinkultur-medien.de/datenschutz/" target="_blank">www.rheinkultur-medien.de/datenschutz/</a>
</p>
<p style="font-size: 0.9em; opacity: 0.9;">
  This e-mail may contain confidential and/or privileged information. If you are not the recipient (or have received this mail in error) please notify the sender immediatly and destroy this mail. Any unauthhorized copying, disclousure or distribution of the materail in this e-mail is strictly fortbilden. Our privacy policy can be found at: <a href="www.rheinkultur-medien.de/datenschutz/" target="_blank">www.rheinkultur-medien.de/datenschutz/</a>
</p>